.acf-block-preview .home-order-teaser {
    min-width: 210px;
    width: 100% !important;
}


.home-order-teaser {
    height: 325px;
    margin: 5px 0px 0px;
    position: relative;
    cursor: pointer;
}

.home-order-teaser.alignright,
.home-order-teaser.alignleft {
	display: inherit;
	float: inherit !important;
	margin-left: inherit !important;
	margin-right: inherit !important;
}

.home-order-teaser.alignright .action-btn {
	padding-right: 0%;
}

.home-order-teaser .splash {
    position: absolute;
    max-width: 95px;
    right: 29.5%;
    top: 23%;
}
@media (max-width: 1030px) {
    .home-order-teaser .splash {
        max-width: 95px;
        right: 28%;
        top: 23%;
    }
}
@media (max-width: 1000px) {
    .home-order-teaser .splash {
        right: 27%;
    }
}
@media (max-width: 976px) {
    .home-order-teaser .splash {
        max-width: 85px;
        right: 28%;
        top: 20%;
    }
}
@media (max-width: 920px) {
    .home-order-teaser .splash {
        max-width: 85px;
        right: 26%;
    }
}

@media (max-width: 880px) {
    .home-order-teaser .splash {
        right: 21%;
    }
}
@media (max-width: 767px) {.home-order-teaser .splash {right: 30%;max-width: 90px;}}
@media (max-width: 727px) {.home-order-teaser .splash {right: 29%;}}
@media (max-width: 667px) {.home-order-teaser .splash {right: 27%;}}
@media (max-width: 617px) {.home-order-teaser .splash {right: 25%;}}
@media (max-width: 600px) {.home-order-teaser .splash {right: 23%;}}
@media (max-width: 570px) {.home-order-teaser .splash {right: 21%;}}
@media (max-width: 540px) {.home-order-teaser .splash {right: 19%;}}
@media (max-width: 500px) {.home-order-teaser .splash {right: 16%;}}
@media (max-width: 450px) {.home-order-teaser .splash {right: 14%;}}
@media (max-width: 410px) {.home-order-teaser .splash {right: 12%;}}

.home-order-teaser .action-btn.align-bottom {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    transition: all .15s ease-out;
}

.home-order-teaser .action-btn.shift-left {
    padding-right: 0%;
}

.bestil-forside-block:hover a .image-wrapper img {
    transform: translateY(-50%) scale(1.1);
}

.bestil-forside-block .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0,0,0,0.15);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.bestil-forside-block .image-wrapper img {
    position: absolute;transition: transform .15s ease-out;
    top: 50%;
    width: 100%;
    transform: translateY(-50%) scale(1.05);
    transition: transform .15s ease-out;
}

.bestil-forside-block .border {
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 10px;
    left: 0;
    transition: top .15s ease-out,right .15s ease-out,bottom .15s ease-out,left .15s ease-out;
    border: 2px solid #58320e;
    border-radius: 20px;
}

.bestil-forside-block:hover .border {
    top: 4px;
    right: 5px;
    bottom: 4px;
    left: 2px;
}

.home-order-teaser .action-btn span {
    font-family: Sonsie One;
    font-size: 17px;
    line-height: 56px;
    display: inline-block;
    padding: 0 45px;
    height: 56px;
    vertical-align: top;
    color: #fff;
    background-image: url(img/button-sprite-green.png);
    background-position: -40px 0;
    background-size: 644px 56px;
}

.home-order-teaser .action-btn.none {
	display: none !important;
}

.home-order-teaser .action-btn.none:before,
.home-order-teaser .action-btn.none:after,
.home-order-teaser .action-btn.none span {
    background-image: none;
}


.home-order-teaser .action-btn.pink:before,
.home-order-teaser .action-btn.pink:after,
.home-order-teaser .action-btn.pink span {
    background-image: url(img/button-sprite-pink.png);
}
.home-order-teaser .action-btn.blue:after,
.home-order-teaser .action-btn.blue:before,
.home-order-teaser .action-btn.blue span {
    background-image: url(img/button-sprite-dusty-blue.png);
}
.home-order-teaser .action-btn.brown:after,
.home-order-teaser .action-btn.brown:before,
.home-order-teaser .action-btn.brown span {
    background-image: url(img/button-sprite-brown.png);
}
.home-order-teaser .action-btn.bright_blue:after,
.home-order-teaser .action-btn.bright_blue:before,
.home-order-teaser .action-btn.bright_blue span {
    background-image: url(img/button-sprite-bright-blue.png);
}
.home-order-teaser .action-btn.red:after,
.home-order-teaser .action-btn.red:before,
.home-order-teaser .action-btn.red span {
    background-image: url(img/button-sprite-red.png);
}

.home-order-teaser .action-btn:after, .home-order-teaser .action-btn:before {
    display: inline-block;
    width: 20px;
    height: 56px;
    content: "";
    background-image: url(img/button-sprite-green.png);
    background-size: 344px 56px;
}

.home-order-teaser .action-btn:before {
    background-position: 0 0;
    margin-right: -8px;
}
.home-order-teaser .action-btn:after {
    background-position: 100% 0;
    margin-left: -8px;
}


@media (max-width: 976px) {
    .home-order-teaser {
        height: 210px;
        margin: 0px 0px 0px;
        padding: 0px;
    }
	.home-order-teaser .action-btn span {
        font-size: 16px;
        line-height: 50px;
        height: 50px;
        padding: 0 35px;
        background-size: 644px 50px;
	}
    .home-order-teaser .action-btn:after, .home-order-teaser .action-btn:before {
        width: 20px;
        height: 50px;
        background-size: 344px 50px;
    }

}
@media (max-width: 767px) {
    .home-order-teaser {
        margin: 0 auto;
        height: 300px;
    }
}


@media (min-width: 768px) {
	.home-order-teaser img {
		transition: transform .15s ease-out;
	}
    .home-order-teaser:hover .action-btn {
        bottom: -20px;
    }
}

@media (max-width: 640px) {
    .home-order-teaser {
        height: 270px;
    }
}
@media (max-width: 550px) {
    .home-order-teaser {
        height: 240px;
    }
}

@media (max-width: 460px) {
    .home-order-teaser {
        height: 210px;
    }
}
@media (max-width: 400px) {
    .home-order-teaser {
        height: 195px;
    }
}


.acf-block-preview .home-order-teaser .action-btn span{
    font-size: 10px !important;
}
.acf-block-preview .img-responsive.splash {
    max-width: 55px;
}

.acf-block-preview .bestil-forside-block a {
    pointer-events: none;
}




@media (min-width: 1025px) {
	body .uag-hide-desktop.uagb-google-map__wrap,
	body .uag-hide-desktop {
	    display: none !important;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
	body .uag-hide-tab.uagb-google-map__wrap,
	body .uag-hide-tab {
	    display: none !important;
	}
}
@media (max-width: 767px) {
	body .uag-hide-mob.uagb-google-map__wrap,
	body .uag-hide-mob {
	    display: none !important;
	}
}
