
.ast-plain-container #content .ast-container,
.ast-separate-container #content .ast-container {
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.ast-plain-container #primary,
.ast-separate-container #primary {
    @include rwd(1080) {
        padding-top: 0px !important;
        padding-right: 20px !important;
        padding-bottom: 0px !important;
        padding-left: 20px !important;
        margin: 1em 0 !important;
    }
    @include xl {
        padding-top: 0px !important;
        padding-right: 20px !important;
        padding-bottom: 0px !important;
        padding-left: 20px !important;
        margin: 1em 0 !important;
    }
    @include lg {
        padding-top: 0px !important;
        padding-right: 15px !important;
        padding-bottom: 10px !important;
        padding-left: 15px !important;
        margin: 1em 0 !important;
    }
    @include md {
        padding-top: 0.5em !important;
        padding-right: 0.5em !important;
        padding-bottom: 0.5em !important;
        padding-left: 0.5em !important;
        margin: 0em 0 1em 0 !important;
    }
    @include sm {
        padding-top: 0em !important;
        padding-right: 0em !important;
        padding-bottom: 0em !important;
        padding-left: 0em !important;
        margin: 0 0 1em 0 !important;
    }
}

.ast-container .ast-article-single {
        background-color: #fdf5dc;
}
.ast-plain-container.single-product .ast-article-single {
        background-color: #fff;
}


.ast-plain-container:not(.single-product) .ast-article-single,
.ast-separate-container .ast-article-post,
.ast-separate-container .ast-article-single {
        @include rwd(1080) {
                padding-top: 0px !important;
                padding-right: 0px !important;
                padding-bottom: 0px !important;
                padding-left: 0px !important;
        }
        @include xl {
                padding-top: 0px !important;
                padding-right: 0px !important;
                padding-bottom: 0px !important;
                padding-left: 0px !important;
        }
        @include lg {
                padding-top: 30px !important;
                padding-right: 30px !important;
                padding-bottom: 30px !important;
                padding-left: 30px !important;
        }
        @include md {
                padding-top: 1.3em !important;
                padding-right: 1.3em !important;
                padding-bottom: 1.3em !important;
                padding-left: 1.3em !important;
        }
        @include sm {
                padding-top: 0.75em !important;
                padding-right: 0.1em !important;
                padding-bottom: 1.1em !important;
                padding-left: 0.1em !important;
        }
}



/* Bestil is */

.min-height-220 .wp-block-uagb-column {
min-height: 220px;
}

.uagb-columns__gap-5 .uagb-columns__inner-wrap {gap: 5px;}
.uagb-columns__gap-10 .uagb-columns__inner-wrap {gap: 10px;}
.uagb-columns__gap-15 .uagb-columns__inner-wrap {gap: 15px;}
.uagb-columns__gap-20 .uagb-columns__inner-wrap {gap: 20px;}
.uagb-columns__gap-30 .uagb-columns__inner-wrap {gap: 30px;}