$color-page: #FDF5DC;
$color-orange: #fdb92c;
$color-light-blue: #ddf0fa;
$color-blue: #b3d4e6;
$color-dark-blue: #4294c1;
$color-red: #C80033;
$color-green: #21A07A;
$color-light-green: #ccecde;
$color-very-light-green: #dcf4ed;
$color-light-yellow-green: #d7eab8;
$color-dark-green: #209f7a;
$color-maroon: #931e11;
$color-yellow: #fcc600;
$color-light-brown: #c1b4a4;
$color-beige: #f1eed8;
$color-brown: #58320e;
$color-light-lime: #f4ffd9;
$color-light-brown: #fef4ce;
$color-bright-blue: #33cddd;
$color-pink: #ff9aa8;
$color-light-red: #db6172;


// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ( "blue", #59BACC ),
	( "green", #21A07A ),
    ( "lightgreen", #e2f7f1 ),
	( "brown", #58320e ),
    ( "yellow", #FFBA00 ),
	( "red", #C80033 ),
    ( "beige", #fdf5dc ),
    ( "black", #000000 );


/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color !important;
	}

	.has-#{$name}-background-color {
		background-color: $color !important;
	}
}

body {
    color: #58320e;
    background: #fff;
    font-style: normal;
}

.entry-content h2, h2 {
    color: #21A07A;
}
.entry-content h3, h3 {
    color: #58320e;
}
.entry-content h4, h4 {
    color: #58320e;
}