.flex-wrap-tablet {
    .uagb-columns__inner-wrap {
        @include screenMin(922px) {
            flex-wrap: inherit;
        }
        @include lg {
            flex-wrap: wrap;
        }
        @include md {
            flex-wrap: inherit;
        }
        @include sm {
            flex-wrap: inherit;
        }
    }
}


/* =============================================================================
   Images
============================================================================= */

.wp-block-image {
    margin-bottom: 0.66667em;
}

.wp-block-image.size-medium img {
    width: 100%;
}

/* =============================================================================
   Gutenberg styles :: Heading / title-lines
============================================================================= */
.is-style-title-lines {
    font-family: Sonsie One;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 0 #7fcbae;
    line-height: 24px;
}