@import "_mixins";

$font-national: "National", Helvetica, Arial, sans-serif;
$font-lato: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-lora: "Lora", serif;

body {
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  font-size: 18px;
  line-height: 1.5;
}

.ast-single-post .entry-title, .page-title {
  font-weight: 500;
  font-family: 'Sonsie One',display;
  line-height: 1.3;
  text-transform: inherit;
  color: $color-green;
}

h1,
.entry-content h1 {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 20px;
}

h2,
.entry-content h2,
.editor-styles-wrapper h2 {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 20px;
}

h3,
.entry-content h3,
.editor-styles-wrapper h3 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
  @include sm {
    font-size: 22px;
    line-height: 1.45;
    margin-bottom: 20px;;
  }
}
.bestil-is-section {
  h3.is-style-box-heading {
    @include lg {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    @include sm {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
}

h4,
.entry-content h4,
.editor-styles-wrapper h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

a {
  color: #C80033;
}

h1.is-style-default,
h2.is-style-default,
h3.is-style-default,
h4.is-style-default,
h5.is-style-default,
h6.is-style-default {
  font-family: 'Lora',serif;
}

h1.is-style-box-heading,
h2.is-style-box-heading,
h3.is-style-box-heading,
h4.is-style-box-heading,
h5.is-style-box-heading,
h6.is-style-box-heading {
  font-family: 'Sonsie One',display;
}

h1.is-style-btn-forside,
h2.is-style-btn-forside,
h3.is-style-btn-forside,
h4.is-style-btn-forside,
h5.is-style-btn-forside,
h6.is-style-btn-forside {
  font-family: 'Sonsie One',display;
}

ol, ul {
  margin: 0 0 1.5em 1.5em;
}

.is-style-btn-forside {
	padding: 7px 19px !important;
	font-size: 17px !important;
	position: relative;
	top: -44px;
	max-width: 220px;
	border-radius: 10px;
	box-shadow: 5px 5px;
}

a:hover {
  text-decoration: none !important;
}

table, td, th {
  border: 0px;
}

.wp-block-table.is-style-open-hours td,
.wp-block-table.is-style-open-hours th {
  border-color: transparent;
  border-top: 1px solid #58320e;
}

.is-style-open-hours table tr td:nth-child(2) {
  text-align: right;
}
