
.is-btn {
    background-color: $color-red;
    border-color: $color-red;
    box-shadow: 3px 3px $color-orange;
    color: #ffffff;
    padding: 15px 30px;
    min-width: 250px;
    font-weight: 800;
    margin-right: 10px;
    letter-spacing: 0.02em;
    font-size: 1.075em;
    transition: background-color 0.5s ease;
    @include lg {
        padding: 12px 15px;
        min-width: 160px;
        font-weight: 800;
        margin-right: 7px;
        letter-spacing: 0em;
        font-size: 1em;
    }
    @include md {
        margin-right: 5px;
    }
    @include sm {
        padding: 15px 10px;
        min-width: 25px;
        font-weight: 800;
        margin-right: 10px;
        letter-spacing: 0.02em;
        font-size: 1.075em;
    }
}

.wp-block-button .wp-block-button__link {
    border-color: $color-red;
    box-shadow: 3px 3px $color-orange;
    color: #ffffff;
    font-weight: 800;
    transition: background-color 0.5s ease;
    padding: 15px 20px;
    letter-spacing: 0.02em;
    font-size: 1.075em;
    @include lg {
        padding: 12px 15px;
        min-width: 160px;
        font-weight: 800;
        margin-right: 7px;
        letter-spacing: 0em;
        font-size: 1em;
    }
    @include md {
        margin-right: 5px;
    }
    @include sm {
        padding: 15px 10px;
        min-width: 25px;
        font-weight: 800;
        margin-right: 10px;
        letter-spacing: 0.02em;
        font-size: 1.075em;
    }
}

.astra-shop-summary-wrap .button.add_to_cart_button {
    border-color: $color-red;
    box-shadow: 3px 3px $color-orange;
    font-weight: 800;
    transition: background-color 0.5s ease;
}
.wp-block-buttons>.wp-block-button.btn-bottom,
.btn-bottom {
    margin-bottom: -35px;
}

.zc-app input#input-postcode {
    box-shadow: 3px 3px rgba(0,0,0,0.30);
    height: 50px;
    border-radius: 0px;
    width: 50%;
    font-size: 16px;
}

.wp-block-buttons {
    column-gap: 1.5em;
    @include md {
        column-gap: 1.15em
    }
    @include md {
        column-gap: 0.95em
    }
}

//knapperne på valg afhentningssted
.afhent-knapper {
    .wp-block-button{
        @include sm {
            margin-bottom: 1em;
        }
        a {
            padding-top: 14px;
            padding-right: 35px;
            padding-bottom: 14px;
            padding-left: 35px;
            margin-right: 0px;
            min-width: 155px;
        }
    }
}