.ast-container, .ast-container-fluid {
	@include lg {

	}
	@include md {

	}
	@include sm {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0px;
		padding-right: 0px;
	}
}

body {
    background: url(/wp-content/uploads/2021/01/bg-page.jpg);
}

.center {
    text-align: center;
}

.header-top {
	background-color: #d5e8e3;
	.ast-container {
		display: flex;
		flex-direction: row-reverse;

	}
}

/* ===================================================================
===============================   HEADER   ===========================
=================================================================== */
.site-branding.ast-site-identity {
	@include rwd(922) {
		margin: 0 0 -60px 5px;
    }
	padding: 15px 0 14px;
}

#ast-desktop-header:before {
    content: '';
    bottom: 0px;
    width: 100%;
    position: absolute;
    height: 53px;
    background: #e2f7f1;
	z-index: -1;
}

.main-navigation.ast-inline-flex {
    margin-left: -10px;
}

/* ===================================================================
===========================  SUB MENU   ==============================
=================================================================== */
nav.site-sub-menu {
    background-color: #6dc0a8;
	font-family: Sonsie One;
    font-size: 14px;
	.sub-menu-items {
		padding: 0 5px;
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			a {
				display: inline-block;
				padding: 10px 20px 10px 0;
				text-decoration: none;
				color: #fff;
			}
		}
	}
}
.site-sub-menu .sub-menu-items .page_item.current_page_item a,
.site-sub-menu .sub-menu-items .page_item a:hover {
    color: #e2f7f1;
}


.page-id-177055 {
	.entry-header {
		margin: 0;
		padding: 0px 10px 20px;
		text-align: center;
		background-color: transparent;
		background-image: none;
		background-position: 0 0px;
	}
	#primary {
		padding-top: 0px !important;
		padding-right: 15px !important;
		padding-bottom: 0px !important;
		padding-left: 15px !important;
		margin: 0.5em 0 !important;
		@include sm {
            margin: 0em 0 1em 0 !important;
        }
	}

	.ast-article-single {
		background-color: transparent !important;
		padding-top: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 0px !important;
		padding-left: 0px !important;
	}
}

.overflow-visible.uagb-column__wrap {
	overflow: visible;
}


body.transparant_container {
	.ast-article-single {
		background-color: transparent !important;
	}
}


/* ===================================================================
===========================  GUTENBERG WIDTH SIZES   ==============================
=================================================================== */
.ast-no-sidebar.ast-separate-container .entry-content .alignwide {
    margin-left: -35px;
    margin-right: -35px;
}