
@mixin screenMax($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin screenMin($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin minWmaxH($width, $height) {
  @media screen and (min-width: $width) and (max-height: $height) {
    @content;
  }
}

@mixin minWminH($width, $height) {
  @media screen and (min-width: $width) and (min-height: $height) {
    @content;
  }
}

@mixin maxWmaxH($width, $height) {
  @media screen and (max-width: $width) and (max-height: $height) {
    @content;
  }
}

@mixin maxWminH($width, $height) {
  @media screen and (max-width: $width) and (min-height: $height) {
    @content;
  }
}

@mixin orientation($orientation) {
  @media screen and (orientation: $orientation) {
    @content;
  }
}




// https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 544px;

// Small tablets (portrait view)
$screen-md-min: 767px;

// Tablets and small desktops (921px)
$screen-lg-min: 976px;

// Large tablets and desktops
$screen-xl-min: 1080px;

// Large tablets and desktops
$screen-xxl-min: 1400px;

// Small devices
@mixin sm {
	@media (max-width: #{$screen-sm-min}) {
		@content;
	}
}

 // Medium devices
 @mixin md {
	@media (max-width: #{$screen-md-min}) {
		@content;
	}
}

 // Large devices
 @mixin lg {
	@media (max-width: #{$screen-lg-min}) {
		@content;
	}
}

 // Extra large devices
 @mixin xl {
	@media (max-width: #{$screen-xl-min}) {
		@content;
	}
}

 // Extra Extra large devices
 @mixin xxl {
	@media (max-width: #{$screen-xxl-min}) {
		@content;
	}
}

 // Custom devices
@mixin rwd($screen) {
	@media (min-width: $screen+'px') {
		@content;
	}
}

 // Custom devices
 @mixin mwd($screen) {
	@media (max-width: $screen+'px') {
		@content;
	}
}
