.ast-article-single.product-type-variable {
    .single_add_to_cart_button.button {
        margin-left: 0px;
    }
}

.single-product.postid-192373,
.single-product.postid-208682,
.single-product.postid-208639,
.single-product.postid-203036,
.single-product.postid-203039,
.single-product.postid-1139 {
    #primary .ast-woocommerce-container {
        .woocommerce-notices-wrapper {
            display: none !important;
        }
    }
}

.single-product.postid-192373,
.single-product.postid-1139 {
    #primary .ast-woocommerce-container {
        .summary.entry-summary {
            p.price {
                display: none !important;
            }
        }
    }
}


.ast-article-single {
    .woocommerce-product-gallery.images {
        @include screenMin(922px) {
            width: 30% !important;
            margin-left: 0%;
        }
        @include lg {
            width: 15% !important;
            margin-left: 15%;
            float: left !important;
        }
        @include md {
            width: 20% !important;
            margin-right: 1%;
            margin-left: 4%;
            float: left !important
        }
        @include sm {
            width: 0% !important;
            margin-right: 1%;
            margin-left: 4%;
            float: left !important;
        }
    }
    .summary.entry-summary {
        float: left !important;
        text-align: left;
        width: 60% !important;
        margin-right: 0%;
        margin-left: 20px;
        @include lg {
            float: left !important;
            text-align: left;
            width: 60% !important;
            margin-right: 0%;
            margin-left: 20px;
        }
        @include md {
            width: 68% !important;
            margin-left: 1%;
        }
        @include sm {
            width: 88% !important;
            margin-left: 1%;
			text-align: center;
        }
    }
    @include md {
        span.onsale.circle {
            position: absolute;
            top: 3px;
            right: 3px;
            z-index: 99999;
            left: initial;
        }
    }
}
.woocommerce ul.products li.product .astra-shop-summary-wrap,
.woocommerce-page ul.products li.product .astra-shop-summary-wrap {
	@include sm {
		padding: 0 0.75em;
	}
}
@include sm {
	.woocommerce.mobile-columns-2 ul.products li.product,
	.woocommerce-page.mobile-columns-2 ul.products li.product {
		width: 100%;
	}
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(n),
	.woocommerce[class*=columns-] ul.products li.product:nth-child(n) {
		margin-right: 0px;
	}
}

.composite_form {
    background: #eff5f4;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    .composite_pagination {
        display: none !important;
        order: 1;
    }
    .composite_navigation  {
        display: none !important;
    }
    .composite_component.options-style-radios {
        order: 3;

            .component_title_wrapper {
                background: #eff5f4;
                padding: 20px;
                text-align: center;
                margin-left: -4px;
                .step_title_wrapper {
                    margin-top: 0em;
                    margin-bottom: 0em;
                    .step_index {
                        display: none;
                    }
                    .step_title {
                        color: $color-green;
                        text-shadow: 3px 3px 1px rgba(0,0,0,0.1);
						font-size: 20px;
                        @include md {
                            font-size: 1.525rem;
                        }
                        @include sm {
                            font-size: 1.125rem;
                        }
                    }
                }
            }

            .component_option_radio_button_container {
                background: #fff;
                border-bottom: 1px solid #e0e0e0;
                transition: 0.5s;
                &:hover {
                    background: #f4f4f4;
                }
                .radio_button_input {
                    padding: 0 15px !important;
                    @include sm {
                        padding: 0 10px !important;
                    }
					.component_option_radio_button_select{
						z-index: 5;
					}
                }
                .radio_button_description {
                    width: 100%;
                    .product-color {
                        font-weight: bold;
                        margin-bottom: 17px;
                        margin-top: 17px;
                        position: absolute;
                        left: 10px;
                        text-align: center;
                        top: 0px;
                        z-index: 0;
                        height: 23px;
                        width: 23px;
                        background-color: #000;
                        border-radius: 23px;
                        @include md {
                            left: 11px;
                            margin-bottom: 18px;
                            margin-top: 19px;
                            height: 20px;
                            width: 20px;
                        }
                        @include sm {
                            left: 8px;
                            margin-bottom: 17px;
                            margin-top: 17px;
                            height: 18px;
                            width: 18px;
                        }
                        i.fas.fa-info-circle {
                            color: $color-green;
                            font-size: 26px;
                            @include sm {
                                font-size: 15px;
                            }
                        }
                    }
                    .title {
                        font-size: 1.15em;
                        font-weight: 800;
                        margin-bottom: 0.6em;
                        margin-top: 0.6em;
                        padding: 0;
						color: #c60a37;
                        @include sm {
                            font-size: 0.925em;
                            margin-bottom: 0.8em;
                            margin-top: 0.8em;
                        }
                    }
                    .tool {
						cursor: help;
						background-image: url(assets/img/information.png);
						font-weight: bold;
						margin-bottom: 15px;
						margin-top: 18px;
						position: absolute;
						right: 15px;
						text-align: center;
						top: 0px;
						z-index: 50;
						width: 28px;
						height: 28px;
						background-size: 28px;
                        @include md {
							right: 12px;
							width: 22px;
							height: 22px;
							background-size: 22px;
                        }
                        @include sm {
							right: 12px;
							width: 22px;
							height: 22px;
							background-size: 22px;
                            top: 0px;
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }
                        i.fas.fa-info-circle {
                            color: $color-green;
                            font-size: 26px;
                            @include sm {
                                font-size: 20px;
                            }
                        }
                    }
                    .thumbnal-short-description {
                        background: $color-green;
                        bottom: 0px;
                        color: #fff;
                        display: none;
                        right: 60px;
                        padding: 15px;
                        position: absolute;
                        width: 600px;
                        z-index: 9999999999;
                        @include md {
                            width: calc(100% - 50px);
    						right: 46px;
                        }
                        p {
                            font-size: 85%;
                        }
                        &.active{
                            display: block;
                            .variant_info {
                                width: 100%;
                                .image__col {
                                    float: left;
                                    width: 30%;
                                    padding: 0px;
									@include sm {
										display: none !important;
									}
                                }
                                .text__col {
                                    float: left;
                                    font-size: 15px;
                                    width: 70%;
                                    padding: 0 0 0 10px;
                                    p:last-child {
                                        margin-bottom: 0px;
                                    }
									@include sm {
										width: 100%;
										padding: 0;
										font-size: 14px;
									}
                                }
                            }
                        }
                        &.fade-in__box {
                            opacity: 1;
                            animation-name: fadeInOpacityBox;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-duration: 0.185s;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 11px;
                            right: -17px;
                            margin-left: -12px;
                            border-top: 16px solid transparent;
                            border-bottom: 16px solid transparent;
                            border-left: 18px solid #2ea27f;
							@include md {
								right: -13px;
								bottom: 16px;
								border-top: 12px solid transparent;
								border-bottom: 12px solid transparent;
								border-left: 14px solid #2ea27f;
							}
							@include sm {
								bottom: 15px;
							}
                        }
                    }
                    .thumbnal-short-description > *:last-child{
                        margin-bottom: 0px;
                    }
                    .thumbnal-short-description > *:first-child{
                        margin-top:0px;
                    }
                }
            }

    }

    .cart.composite_data.multistep.last {
        bottom: 0px;
        display: block !important;
        order: 4;
        position: sticky;
        width: 100%;
        left: 0px;
        margin: 0 auto;
        z-index: 1;
        @include md {
            z-index: 99999;
        }
        .composite_summary {
            width: 520px;
            margin: 0 auto;
            animation: fadeInUp 2.25s;
            @include sm {
                width: 100%;
            }
			&.columns-3 {
                .summary_element {
                    width: 33.333%;
                    @include md {
                        width: 33.33%;
                    }
                    @include sm {
                        width: 33.33%;
                    }
                }
            }
            &.columns-4 {
                .summary_element {
                    width: 25%;
                    @include md {
                        width: 25%;
                    }
                    @include sm {
                        width: 25%;
                    }
                }
            }
			&.columns-5 {
                .summary_element {
                    width: 20%;
                    @include md {
                        width: 20%;
                    }
                    @include sm {
                        width: 20%;
                    }
                }
            }
            &.columns-6 {
                .summary_element {
                    width: 16.666%;
                    @include md {
                        width: 16.666%;
                    }
                    @include sm {
                        width: 16.666%;
                    }
                }
            }

            h2.summary_title.step_title_wrapper {
                font-size: 1.2em;
                text-align: center;
                margin-bottom: 0;
                .step_index {
                    display: none !important;
                }
                .step_title {
                    background: #fff;
                    box-shadow: 0px -8px 20px -6px rgba(0,0,0,0.23);
                    padding: 6px 15px;
					border-radius: 5px 5px 0 0;
                }
            }
            .summary_elements {
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
                margin: 0 0 1em 0;
                padding: 3px;
                .summary_element {
                    margin: 0px;
                    .summary_element_wrapper_outer .selected{
                        border: 3px solid $color-red !important;
                        border-radius: 5px;
                    }
                }
            }
        }
        .summary_element .summary_element_wrapper {
            background: rgba(55, 65, 65, 0.15);
            height: 70px !important;
            border: 0px !important;
            .summary_element_wrapper_inner {
                padding: 0px !important;
                border:0px !important;

                .summary_element_image.summary_element_data {
                    background: rgba(239, 239, 239, 0.8);
                    @include md {
                        width: 100%;
                    }
                    img.summary_element_content {
                        opacity: 0.1;
                        width: 100%;
                        object-fit: cover;
                        height: 68px;
                    }
                    .summary_element_selection.summary_element_data {
                        height: 68px;
                        line-height: 68px;
                        position: absolute;
                        top: 0px;
                        text-align: center;
                        width: 100%;
                        .content_product_title {
                            display: block;
                            color: #000;
                            text-shadow: 1px 1px 1px #fff;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: normal;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &.active {
            max-width: 760px;
            position: relative;
			margin-top: 40px !important;
    		margin-bottom: 60px !important;
            .composite_summary {
                width: 100%;
                margin: 0 auto;
                h2.summary_title.step_title_wrapper {
                    font-size: 1.7em;
                    text-align: center;
                    margin-top: 1em;
                    margin-bottom: 0.1em;
                    .step_title {
                        background: #fff;
                        box-shadow: 0px -8px 20px -6px rgba(0, 0, 0, 0.23);
                        padding: 6px 15px;
						font-size: 0.9em;
                    }
                }
                .summary_elements {
                        background: #fff;
                        border-radius: 0px;
                        box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
                        margin: 0 0 1.5em 0;
                        padding: 0px;
                }
            }
            .composite_wrap {
                .composite_price {
                    display: none !important;
                }
                .composite_button {
                    padding: 0 5px;
                    text-align: center;
                    margin: 0 auto;
                    .quantity.buttons_added {
                        display: none !important;
                    }
					.composite_add_to_cart_button {
						float: none;
						background-color: #c60a37;
						border-color: #c60a37;
						box-shadow: 3px 3px #fdb92c;
						color: #ffffff;
						padding: 14px 25px;
						min-width: 196px;
						font-weight: 800;
						margin-right: 0px;
                        margin-left: 0px;
						letter-spacing: 0.02em;
						font-size: 1.125em;
						transition: background-color 0.5s ease;
					}
                }
            }
        }
    }
    .cart.composite_data:not(.active) .composite_wrap {
        display: none;
    }

}

.component_section_title {
	display: none !important;
}
.component.options-style-thumbnails .component_options,
.component.options-style-radios .component_options {
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.component_message.bottom {
    display: none !important;
}



.product_cat_bygselvkage {
    .composite_form .cart.composite_data.multistep.last .composite_summary.columns-3 .summary_elements {
        display: flex;
        flex-direction: column-reverse;
        .summary_element {
            width: 100%;
            .summary_element_wrapper_outer{
                padding: 2px;
                .summary_element_wrapper {
                    height: 30px !important;
                    .summary_element_wrapper_inner {
                        border: 0px solid transparent !important;
                        img.summary_element_content {
                            height: 30px !important;
                        }
                        .summary_element_selection.summary_element_data {
                            height: 30px !important;
                            line-height: 30px !important;
                        }
                    }
                }
            }
        }
    }
}

.composite_summary .summary_element_wrapper_outer {
    padding: 2px !important;
}

.product_cat_favoritter-islagkage {
    .ast-article-single > .summary.entry-summary p.price{
        display: none !important;
    }
    .composite_form {
        background: #fff;
        padding: 2em 0 2em 0px !important;
        .composite_component.component {
            display: none !important;
            &.active{
                display: none !important;
            }
        }

        .cart.composite_data.multistep.last {
            width: 520px;
            z-index: 100 !important;
            margin: 0 auto;
            max-width: 100%;
            left: inherit;
            position: relative;

            .composite_summary.columns-3 {
                animation: none;
                @include md {
                    width: 90%;
                }
                @include sm {
                    width: 85%;
                }
                .summary_element {
                    width: 100%;
                    .summary_element_wrapper_outer {
                        padding: 2px;
                        .summary_element_wrapper {
                            height: 36px !important;
                            border: 0px solid #fff !important;
                            border-radius: 4px !important;
                            pointer-events: none;
                            &.selected {
                                border: 0px solid #fff !important;
                            }
                            .summary_element_wrapper_inner {
                                border: 0px solid transparent !important;
                                img.summary_element_content {
                                    height: 36px !important;
                                }
                                .summary_element_selection.summary_element_data {
                                    height: 36px !important;
                                    line-height: 36px !important;
                                    .summary_element_content {
                                        font-size: 0.98rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .composite_form .cart.composite_data:not(.active) .composite_wrap {
        display: block;
        text-align: center;
        .quantity.buttons_added {
            display: none !important;
        }
        .single_add_to_cart_button {
            float: none;
            background-color: #c60a37;
            border-color: #c60a37;
            box-shadow: 3px 3px #fdb92c;
            color: #ffffff;
            padding: 14px 25px;
            min-width: 196px;
            font-weight: 800;
            margin-right: 3px;
            letter-spacing: 0.02em;
            font-size: 1.225em;
            transition: background-color 0.5s ease;
        }
    }
}


.product-template-default.single-product .favorit_container {
    margin-top: 10px;
    margin-bottom: 40px;
}
// SINGLE FAV ISKAGE STYLE
.favorit_container {
	width: 520px;
    z-index: 100 !important;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 100%;
    position: relative;
    clear: both;
	.fav_title_wrapper {
		color: #21A07A;
		text-align: center;
		margin-bottom: 0;
		.fav_title {
			background: #fff;
			box-shadow: 0px -8px 20px -6px rgba(0,0,0,0.23);
			padding: 6px 15px;
			border-radius: 5px 5px 0 0;
			font-size: 22px;
		}
	}
}

.fav_elements {
    font-family: 'Lora',serif;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
    margin: 0 0 1em 0;
    padding: 3px;
    outline: 0;
    vertical-align: baseline;
	.fav_element {
		margin: 0px;
		width: 100%;
		clear: both;
		text-align: center;
		list-style: none;
	}
	.fav_element_wrapper_outer {
		padding: 2px;
		.fav_element_wrapper {
			box-shadow: 0px 0px 3px rgba(0,0,0,0.45);
			border: 0px;
			height: 36px;
			border-radius: 4px;
			pointer-events: none;
			.fav_element_wrapper_inner {
				height: 36px;
				line-height: 36px;
				.content_product_title {
					text-shadow: 1px 1px 1px #fff;
					display: inline-block;
					vertical-align: middle;
					line-height: normal;
				}
			}
		}
	}
}


.single-product.woocommerce.product_cat_literbokse {
    .cp-no-js-msg{
        display: none !important;
    }
}

.summary.entry-summary .ast-stock-detail {
    display: none !important;
}
.summary.entry-summary .Wcmlim_container {
    background-color: #21A07A !important;
    border-radius: 3px;
    border-color: #0b674b;
    border-width: 1px;
    padding: 5px 10px;
    .Wcmlim_box_header {
        padding: 5px 0 10px 0;
        .Wcmlim_box_title {
            font-size: 17px;
        }
    }
    .Wcmlim_prefloc_box {
        .Wcmlim_sloc_label {
            font-weight: 400;
            margin: 0 0px 0px 5px;
            font-size: 15px;
            width: 75px !important;
            display: inline-block;
        }
        .Wcmlim_sel_loc {
            padding: 0.35em 0.55em;
            font-size: 15px;
            width: calc(100% - 85px);
        }
        .fa-map-marker-alt {
            display: none !important;
        }
        #globMsg {
            color: #fff;
        }
    }

}


.composite_wrap {
    padding-bottom: 30px;
    margin-bottom: 30px;
	.composite_availability {
		display: none !important;
	}
    .composite_button {
        padding: 0 5px;
        text-align: center;
        margin: 0 auto;
        .quantity.buttons_added {
            display: none !important;
        }
        .composite_add_to_cart_button {
            float: none;
            background-color: #c60a37;
            border-color: #c60a37;
            box-shadow: 3px 3px #fdb92c;
            color: #ffffff;
            padding: 14px 25px;
            min-width: 196px;
            font-weight: 800;
            margin-right: 3px;
            letter-spacing: 0.02em;
            font-size: 1.225em;
            transition: background-color 0.5s ease;
        }
    }
}

@media (min-width: 922px) {
	.composite_form .component:not(.selection_thumbnail_hidden) .composited_product_details_wrapper>.details {
		width: 60%;
	}
}

#bkap-booking-form,
#bkap-multidate-box,
#bkap-booking-form,
#bkap-price-box{
    display: none !important;
}

#bkap-price-box #bkap_price {
    display: none !important;
}

.cart.composite_data.multistep.active.last #bkap-booking-form,
.cart.composite_data.multistep.active.last #bkap-multidate-box,
.cart.composite_data.multistep.active.last #bkap-booking-form {
    display: block !important;
}
.cart.composite_data.multistep.active.last #bkap-price-box {
    display: block !important;
    border: none;
    padding: 0 0 1px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}


#bkap-booking-form {
    border: 0px solid #fff;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 0em;
    width: 100%;

    #bkap_multidates_msg {
        margin-bottom: 10px;
        text-align: center;
    }
    .bkap_start_date {
        width: 100%;
        text-align: center;
        .book_start_date_label {
            color: #58320e;
            font-weight: bold;
        }
        
        .booking_calender {
            display: none !important;
        }
    }
    .bkap_end_date {
        width: 100%;
        text-align: center;
        .book_end_date_label {
            color: #58320e;
            font-weight: bold;
        }
        .booking_calender {
            display: none !important;
        }
    }

    .ui-datepicker {
        width: 100%;
        .ui-datepicker-header {
            
            //Title måned vælger
            .ui-datepicker-title {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                margin: 0;
                padding: 10px 0;
                text-align: center;
            }
            .ui-datepicker-prev,
            .ui-datepicker-next {
                margin-top: 0px;
            }
        }

        .ui-datepicker-calendar {
            margin-bottom: 0px !important;
            
            tr th {
                font-size: 14px;
                font-weight: 600;
            }

            td .ui-state-default {
                border: none;
                display: block;
                font-weight: 600;
                padding: 10px 10px;
                text-align: center;
                text-decoration: none;
                width: auto;
            }
                   
            .ui-state-default, 
            ui-widget-content .ui-state-default,
            .ui-widget-header .ui-state-default {
                background: #21A07A;
                color: #fff
            }
            
            .ui-state-active,
            .ui-widget-content .ui-state-active,
            .ui-widget-header .ui-state-active {
                background: #c60a37;
                font-weight: 900 !important;
                color: #fff;
            }
        }
        
    }

    #bkap-multidates-button-msg-div {
        //Tilføj dag knap
        #bkap-add-days {
            font-weight: 600;
            padding: 15px 40px 15px 34px;
            i.fa.fa-plus {
                margin-right: 6px;
            }
        }
        .woocommerce-error,
        .woocommerce-info {
            margin-top: 1em;
        }
    }
}

#bkap-multidate-box {
    > p {
    margin-bottom: 13px;
    font-size: 1em;
    color: #000;
    }
    #bkap-multidate-info {
        tbody tr {
            font-weight: 500;
            color: #333;
            font-size: 17px;
            .bkap_multidates_delete {
                color: #888;
                font-size: 16px;
            }
        }
    }
}





@keyframes fadeInOpacityBox {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    65% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
