.page .entry-header:not(.ast-header-without-markup) {
    margin: 0 20px;
    padding: 25px 10px 20px;
    text-align: center;
    background-color: #fdf5dc;
    background-image: url(assets/img/bg-page-header.png);
    background-repeat: repeat-x;
    background-position: 0 30px;
    @include md {
        margin: 0 15px;
    }
    @include sm {
        margin: 0 12px;
        background-position: 0 17px;
        padding: 10px;
    }
    h1 {
        font-family: Sonsie One;
        font-size: 30px;
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        color: #58320e;
        background-color: #fdf5dc;
        text-shadow: 3px 3px 0 #7fcbae;
        line-height: 24px;
        @include md {
            font-size: 27px;
        }
        @include sm {
            font-size: 25px;
        }
    }
}