
body.product_cat_literbokse .ast-woocommerce-container,
body.product_cat_islagkage .ast-woocommerce-container {
    background-color: #fff;
    margin: 0 auto;
    max-width: 922px;
    padding: 0px 20px 20px;
}

body.single.single-product .ast-woocommerce-container {
    background-color: #fff;
    margin: 0 auto;
    max-width: 922px;
    padding: 0px 20px 20px;
}




body.woocommerce-checkout.woocommerce-page #main {
    background: #fdf5dc !important;
    padding: 20px;
	@include sm {
		padding: 15px;
	}
}

.ast-woocommerce-container {
	background-color: #fdf5dc;
}
.woocommerce-cart.woocommerce-page article.type-page {
	background-color: #fdf5dc;
	padding: 20px;
}
.archive .ast-woocommerce-container {
	padding: 30px;
}

.ast-article-single {
    padding-top: 20px;
}
// Woo Cart Icon
.ast-hfb-header .ast-addon-cart-wrap {
    padding: .2em 0.3em;
}
.ast-site-header-cart i.astra-icon {
    font-size: 1.5em;
}

.ast-site-header-cart .ast-addon-cart-wrap i.astra-icon:after {
    color: #931e11 !important;
    background-color: #fcc600 !important;
}
.ast-site-header-cart i.astra-icon:after {
    top: -7px;
    right: -14px;
    font-size: 14px;
    line-height: 22px;
    height: 23px;
    min-width: 23px;
}
.ast-menu-cart-outline .ast-cart-menu-wrap .count,
.ast-menu-cart-outline .ast-addon-cart-wrap {
    border: 0px !important;
}


.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
	display: none;
}

.mini_cart_item.component_container_mini_cart_item {
	padding: .5em 1em .5em 0em !important;
	margin-bottom: 20px;
}

.woocommerce ul.woocommerce-mini-cart.product_list_widget li dl {
    margin: 0;
	margin-top: 8px;
    padding-left: 0.5em;
    border-left: 1px solid rgba(0,0,0,.1);
}
.woocommerce ul.woocommerce-mini-cart.product_list_widget li dl dt {
	font-size: 11px;
    width: 100%;
}
.woocommerce ul.woocommerce-mini-cart.product_list_widget li dl dd {
	font-size: 11px;
    margin: 0 0 10px;
}
.ast-site-header-cart .widget_shopping_cart .product_list_widget,
.woocommerce .ast-site-header-cart .widget_shopping_cart .product_list_widget {
	padding: 1em;
}


ul.products {
	li {
		background: #fff;
		.astra-shop-summary-wrap {
			font-family: $font-lora;
			h2 {
				font-size: 1.1em;
				font-weight: 800;
			}
			a.button {
				width: 100%;
				text-align: center;
			}
		}
	}
}

/* ====================  Kurv  ==================== */

body.woocommerce-cart.woocommerce-page {
	table.shop_table {
		font-size: 15px;
		@include sm {
			font-size: 14px;
		}
	}
	table.shop_table thead {
		background-color: #f3f8f7;
	}

	table.shop_table tbody tr {
		background-color: #f9fdfc;
	}

	table.shop_table tbody tr .product-name > p {
		display: none !important;
	}
	
	table.shop_table tbody tr .product-name > dl.variation dt.variation-Delaf {
		display: none !important;
	}

	table.shop_table tbody tr .product-name > dl.variation dd.variation-Delaf {
		display: none !important;
	}

    .cart_totals {
		padding: 0 0px;
		background: #f9fdfc;
        h2 {
			font-size: 18px;
			margin: 0px;
			padding: 15px 15px;
        }
		tr.cart-discount {
			color: #b02437;
		}
    }

	.coupon {
		font-size: 15px;
		input#coupon_code {
			font-size: 15px;
		}
		.input-text {
			max-width: 140px;
		}
		button.button {
			background: #d5e8e3 !important;
			color: #444 !important;
		}
	}

	.wc-proceed-to-checkout {
		margin: 0px !important;
		padding: 0px !important;
		a.checkout-button.button.alt.wc-forward {
			margin: 0px !important;
			font-size: 18px !important;
			padding: 8px 20px !important;
		}
	}

	// Booking plugin dates in cart
	.shop_table .woocommerce-cart-form__cart-item {
		td.product-name dl {
			dt.variation-Duharbooket {
				width: 100%;
			}
			dd.variation-Duharbooket {
				font-weight: 400;
				margin-bottom: 5px !important;
			}
		}
	}

}

body.woocommerce-cart.woocommerce-page .cart_totals.calculated_shipping {
	.shop_table.shop_table_responsive {
		@include sm {
			margin-bottom: 0px !important;
		}
	}
}

@include md {
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td.product-name {
		font-size: 13px;
		margin-right: -4px;
		padding: 2px 0px !important;
		min-height: 22px !important;
	}
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td.product-remove {display: none !important;}
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td.product-thumbnail {display: none !important;}
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td.product-price {display: none !important;}
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td.product-quantity {display: none !important;}
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td.product-subtotal {display: none !important;}
	
	table.woocommerce-cart-form__contents tr.component_container_table_item > td.product-name > tr > td::before {display: none;content:""}


	body.woocommerce-cart .ast-article-single {
		padding-top: 0em !important;
		padding-right: 0em !important;
		padding-bottom: 0em !important;
		padding-left: 0em !important;
	}
}

//Cross-sells
body.woocommerce-cart .cross-sells {
	h2 {
		font-size: 18px;
		margin: 0px;
		padding: 15px 15px;
	}
	ul li.ast-article-single {
		background-color: #ffffff;
		padding-top: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 20px !important;
		padding-left: 0px !important;
		@include sm {
			padding-bottom: 10px !important;
		}
	}

	ul.products.columns-2 {
		margin: 0 -20px;

		.astra-shop-summary-wrap {

		}
	}

} 





/* ====================  Kasse  ==================== */
.checkout.woocommerce-checkout div#order_review,
.checkout.woocommerce-checkout h3#order_review_heading {
    background: rgba(255,255,255,0.75);
}

.shop_table_responsive.cart {
	.quantity.buttons_added {
		.minus {
            display: none;
        }
		.plus {
		    display: none;
		}
	}
}

form.woocommerce-ordering,
p.woocommerce-result-count {display: none !important;}


.woocommerce-page.woocommerce-checkout {
	.woocommerce-billing-fields {
		span.woocommerce-input-wrapper,
		span.woocommerce-input-wrapper input {
			font-size: 15px !important;
		}
		h3:first-child {
			display: none !important;
		}
	}
	font-size: 14px;
	form {
		#order_review_heading {
			border-width: 1px 1px 0 1px;
			border-style: solid;
			font-size: 1rem;
			margin: 0;
			padding: 1.5em 1em 1em;
			border-color: #ebebeb;
			font-size: 20px;
		}
		#order_review {
			padding: 0 1em;
			border-width: 0 1px 1px;
			border-style: solid;
			border-color: #ebebeb;
		}
	}

}

//woocommerce-billing-fields



/*=== Compose produkt kasse ===*/

//Fjern lokation butik
tbody > tr.cart_item.component_container_table_item > .product-name > p,
tbody > tr.cart_item > .product-name > p {
	display: none;
}


tr.cart_item.component_container_table_item {
    .cart_item.component_table_item {
        .product-remove {
            display: none;
        }
        .product-thumbnail {
            padding: 0.2em 0em;
        }
        .product-name {
            .component-name {
                padding-left: 0px;
                dl dt {
                    display: none;
                }
                p {
                    margin-bottom: 0 !important;
					&:nth-child(2) {
						display: none;
					}
                }

            }
        }
        .product-quantity {
            display: none;
        }
    }
}
/*=== Compose produkt kasse ===*/
.cart_item {
	.product-thumbnail {
		padding: 0.2em 0em;
	}
	.product-name {
		p {
			margin-bottom: 0 !important;
		}
	}
}

.woocommerce-cart .woocommerce-shipping-totals.shipping .woocommerce-shipping-calculator,
.woocommerce-cart .woocommerce-shipping-totals.shipping .woocommerce-shipping-destination{
    display:none;
}

@media (min-width:768px){
    .component_table_item .component_table_item_indent {
        padding-left: 0px;
        font-size: 13px;
    }
    .woocommerce-checkout table.shop_table .cart_item.component_table_item td.product-name {
        padding: 4px 5px 1px 0 !important;
    }
}

span.onsale.circle {
	color: #931e11 !important;
    background-color: transparent;
    font-size: 1px;
    background-image: url(/wp-content/uploads/2021/05/badge10.png);
    background-size: 56px;
    width: 56px;
    height: 50px;
	top: -12px !important;
    right: -12px !important;
}
.single-product .ast-article-single span.onsale.circle {
	color: #931e11 !important;
    background-color: transparent;
    font-size: 1px;
    background-image: url(/wp-content/uploads/2021/05/badge10.png);
    background-size: 56px;
    width: 56px;
    height: 50px;
    top: 19px !important;
    left: inherit;
    right: -12px;
	@include sm {
		right: 8px;
	}
}

.woocommerce-message {
    border-top: 4px solid #257e5b;
    line-height: 40px;
    color: #257e5b;
    font-weight: bold;
    font-size: 18px;
    padding: 1em 1em 1em 3.35em;
    box-shadow: 4px 4px 0px rgba(38,114,80,0.2);
    background-color: #e2f7f1;
}

.woocommerce-message::before {
    content: "\e015";
    color: #266d4c;
}

.woocommerce-message a.button.wc-forward {
    background: rgba(38,114,80,0.8);
    color: #fff;
    box-shadow: 3px 3px rgba(38,114,80,0.15);
    border-radius: 0px;
    transition: 0.3s;
}

.woocommerce-form-coupon-toggle {
	.woocommerce-info {
		border-top: 4px solid #257e5b;
		line-height: 40px;
		color: #257e5b;
		font-weight: bold;
		font-size: 18px;
		padding: 0.5em 1em 0.5em 2.5em;
		box-shadow: 4px 4px 0px rgba(38,114,80,0.2);
		background-color: #e2f7f1;
	}

	.woocommerce-info::before {
		content: "\e015";
		color: #266d4c;
		top: 0.5em;
		left: 1em;
	}

	.woocommerce-info a.button.wc-forward {
		background: rgba(38,114,80,0.8);
		color: #fff;
		box-shadow: 3px 3px rgba(38,114,80,0.15);
		border-radius: 0px;
		transition: 0.3s;
	}
}
.woocommerce-info {
	border-top: 4px solid #257e5b;
	line-height: 40px;
	color: #257e5b;
	font-weight: bold;
	font-size: 18px;
	padding: 0.5em 1em 0.5em 2.5em;
	box-shadow: 4px 4px 0px rgba(38,114,80,0.2);
	background-color: #e2f7f1;
}

.woocommerce-info::before {
	content: "\e015";
	color: #266d4c;
	top: 0.5em;
	left: 1em;
}

.woocommerce-info a.button.wc-forward {
	background: rgba(38,114,80,0.8);
	color: #fff;
	box-shadow: 3px 3px rgba(38,114,80,0.15);
	border-radius: 0px;
	transition: 0.3s;
}

.Wcmlim_container p#globMsg {
    display: none !important;
}

//==================================================================
// Checkout


.woocommerce-page.woocommerce-checkout {
	.woocommerce-error, .woocommerce-info, .woocommerce-message {
		margin: 0 0 0.5em;
	}
	#customer_details.col2-set {
		@include rwd(922) {
			width: 53% !important;
			margin-right: 2.347826% !important;
		}
		.woocommerce-additional-fields {
			display: none;
		}
		#wc-od h3 {
			border-bottom: 1px solid #dfd2b7;
		}
	}
	#order_review_heading,
	#order_review {
		box-shadow: 4px 4px 0px rgba(38, 114, 80, 0.2);
		@include rwd(922) {
			width: 44% !important;
		}
	}

	.cart_item {
		.product-total {
			del,
			ins {
				font-size: 11px;
				span {
					font-weight: 300;
				}
			}
		}
	}

	.woocommerce-checkout-review-order-table {
		.cart_item.component_table_item {
			display: none;
		}
		.cart_item .product-name dl dt {
			display: none;
		}
		.cart_item .product-name dl dd {
			font-size: 12px;
		}
	}
	.woocommerce-checkout-payment {
		.wc_payment_methods.payment_methods {
			margin-bottom: 0px !important;
		}
		.place-order {
			padding-bottom: 1.25em !important;
			.input-checkbox {
				margin: -2px 4px 0 0;
			}
			.woocommerce-terms-and-conditions-checkbox-text,
			.required {
				font-size: 13px;
				letter-spacing: -0.02em;
			}

			.button#place_order {
				font-size: 18px;
				padding: 15px;
				margin-top: 15px;
			}
		}
	}
}


.bambora_payment_types {
	img {
		max-width: 38px;
	}
}


.archive.term-literbokse .product_cat-literbokse:nth-child(1) > .astra-shop-thumbnail-wrap {background:#9ed7e7;}
.archive.term-literbokse .product_cat-literbokse:nth-child(2) > .astra-shop-thumbnail-wrap {background:#ff9aa8;}
.archive.term-literbokse .product_cat-literbokse:nth-child(3) > .astra-shop-thumbnail-wrap {background:#bae5d2;}
.archive.term-literbokse .product_cat-literbokse:nth-child(4) > .astra-shop-thumbnail-wrap {background:#6dc0a8;}



.wcmlim-lc-switch .Wcmlim_box_header {
    display: none;
}

.wcmlim-lc-switch .Wcmlim_container {
    border-radius: 0px;
}


.astra-advanced-hook-177188 {
    display: none;
}
.astra-advanced-hook-177188 .wcmlim-lc-switch .Wcmlim_box_header {
    display: none;
}

body.user-id-4 .astra-advanced-hook-177188 {
    display: block;
}

.woocommerce-checkout-payment .woocommerce-privacy-policy-text {
    display: none;
}


.ast-site-header-cart-data {
	.bundled_mini_cart_item {
		padding-left: 0px;
		min-height: 45px;
		font-size: 15px;
	}

	.bundled_mini_cart_item > p:first-of-type,
	dl.variation {
		display: none;
	}
	span.quantity {
		display: block;
	}
	.component_container_mini_cart_item > p:first-of-type {
		display: none;
	}
	.component_container_mini_cart_item {
		padding-left: 0px;
	}
}