body.postid-195310 #content #primary {
    margin-top: 0px !important;
}

.ast-article-single.product-type-bundle {

    .woocommerce-product-gallery {
        display: none !important;
    }
    .summary.entry-summary {     
        margin-left: 0px;
        margin-bottom: 0px !important;
        width: 100% !important;
        
        h1.product_title.entry-title {
            font-size: 26px;
            font-weight: 300 !important;
            @include sm {
                font-size: 24px;
                text-align: center;
            }
        }

        .price {
            display: none !important;
        }
        
    }

    .bundle_form {
        @include sm {
            margin-top: 0px !important;
        }
        thead {
            background: #eee;

            th.bundled_item_col {
                padding: 0.85em;
            }

            th.bundled_item_col.bundled_item_images_head {
                @include sm {
                    display:none;
                }
            }
            
            th.bundled_item_col.bundled_item_details_head {
                padding-left: 0px;
                @include sm {
                    padding-left: 15px;
                }
            }
        }
    
        .bundled_product_summary {
    
            .bundled_item_col {
                vertical-align: middle;
                padding-top: 1.1rem;
                padding-bottom: 1.1rem;
                border-bottom: 1px solid #c7b89b;
                @include sm {
                    border-bottom: 0px solid #fff;
                }
            }
    
            .bundled_item_images_col {
                width: 18%;
                @include sm {
                    display:none;
                }
            }
    
            .bundled_item_details_col {
                @include sm {
                    border-bottom: 1px solid #c7b89b;
                    text-align: center;
                    padding-right: 0px !important;
                }

                .bundled_product_title_link {
                    display: none !important;
                }
                
                h4.bundled_product_title.product_title {
                    font-size: 18px;
                    line-height: 1;
                    margin-bottom: 10px;
                    
                    .bundled_product_title_inner {
                        font-weight: 600;
                    }
                }
                
                .bundled_product_excerpt p {
                    font-size: 14px;
                    margin-bottom: 5px;
                    line-height: 18px
                }
                
                label.bundled_product_optional_checkbox {
                    font-size: 0px;
                    color: #fff;
                    span.price {
                        font-size: 16px;
                    }
                }
                
                .cart {
                    display:none;
                }
                
                input.bundled_product_checkbox {
                    display: none;
                }
            }
    
            .bundled_item_qty_col {
                padding-right: 0px !important;
                min-width: 115px !important;
                @include sm {
                    padding-top: 5px;
                    padding-bottom: 40px;
                    border-bottom: 1px solid #c7b89b;
                }
                .quantity.buttons_added {
                    display: flex !important;
                    width: 100%;
                    align-items: center;
                    flex-direction: row;
                    height: fit-content;
                    @include sm {
                        justify-content: center;
                    }
                    .minus {
                        height: 40px;
                    }
                    .plus {
                        height: 40px;
                        margin-right: 0px;
                    }
                    .bundled_qty {
                        margin: 0px 0px 0px 38px !important;
                        width: 40px !important;
                        padding: 5px !important;
                        @include sm {
                            height: 40px;
                        }
                    }
                }
            }
        }
    
        .cart.bundle_data {

            .quantity.buttons_added {
                display: none !important;
            }

            .bundle_add_to_cart_button {
                margin-right: 20px;
                padding: 15px 40px;
                @include sm {
                    margin-right: 0px;
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
            
            .button-wrapper .cta-button.bundle-no-thanks {
                background: #21A07A;
                @include sm {
                    margin-right: 0px;
                    text-align: center;
                    width: 100%;
                }
            }

            .bundle_wrap {
                .bundle_error {
                    display: none !important;
                }
            }
        }
    
    }
    
}
