
.composite_form {
	background: #ffffff;
	padding: 0px !important;
}

.component-name.component_table_item_indent strong.composited_product_quantity {
    display: none;
}
.summary.entry-summary.full-bredde {
    width: 100% !important;
}

.composite_form .cart.composite_data.multistep.last{
    width:520px;
    z-index:100 !important;
    max-width: 100%;
}
@media (max-width:550px){
    .composite_form .cart.composite_data.multistep.last{
        width:100%;
        left:0px;
        margin-left:0px;
    }

    .wp-block-buttons>.wp-block-button.wp-block-button__width-50 {
        width: calc(80% - .5em);
    }
}

.composite_form .composite_data .summary_element_wrapper{
    position:relative;
}
.composite_form .composite_data .summary_element_wrapper .color-background-helper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity:0.4;
    cursor:pointer;
}


.wc-pao-addons-container {
    display: flex;
    flex-wrap: wrap;
    display: none;
    @include rwd(768) {
        padding: 5px;
        margin-left: -95px;
        margin-right: -95px;
    }
    @include rwd(1100) {
        padding: 10px;
        margin-left: -200px;
        margin-right: -200px;
    }
    @include md {
        margin-left: -35px;
        margin-right: -35px;
	}
    @include md {
        padding: 3px;
        margin-left: 0px;
        margin-right: 0px;
	}
	@include sm {
        padding: 2px;
        margin-left: 0px;
        margin-right: 0px;
	}



    &.activetilbehor {
        display: block;
    }
    .wc-pao-addon-ekstra-tilbehoer .form-row {
        display:none !important;
    }
    .wc-pao-addon-container.wc-pao-addon.wc-pao-addon-ekstra-tilbehoer {
        padding-bottom: 10px;
    }
    .wc-pao-addon-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 25px;
        border-bottom: 1px solid #dcceb3;
        .wc-pao-addon-name {
            flex-basis: 100%;
        }
        .wc-pao-addon-description {
            align-items: center;
            display: flex;
            flex-basis: calc(100% - 150px);
            margin-bottom: 0px;
            gap: 15px;
            width: 100%;

            @include lg {

            }
            @include md {
                flex-basis: calc(100% - 130px);
            }
            @include sm {
                flex-direction: column;
                flex-basis: calc(100% - 0px);
                .composited_product_images {
                    width: 100%;
                    min-width: 100%;
                }
            }

            @include rwd(1100) {
                flex-basis: calc(100% - 150px);
            }

            .composited_product_images {
                min-width: 140px;
                max-width: 140px;
            }
            p {
                font-size: 0.75em;
                margin-right: 14px;
                @include sm {
                    text-align: center;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
        h2.wc-pao-addon-name {
            font-size: 24px !important;
            font-weight: 300 !important;
        }
        .wc-pao-addon-name {
            font-weight: 600;
            margin-bottom: 8px;
            font-size: 16px;
            @include sm {
                text-align: center;
            }
        }
        .ekstra-produkter {
            flex: 0 0 145px;
            font-style: normal;
            @include md {
                flex: 0 0 130px;
            }
            @include sm {
                flex: none;
                margin: 0 auto;
                margin-top: 15px;
            }
            .form-row {
                display: flex;
                margin-top: 0px;
                padding: 0px;
                .inc.button,
                .dec.button {
                    padding: 0px 20px;
                    text-align: center;
                    display: inline;
                    font-size: 1em;
                    line-height: 45px;
                    background-color: #fff;
                    color: #C80033;
                    @include md {
                        padding: 0px 15px;
                    }
                }
                .input-text.wc-pao-addon-field {
                    padding: 10px;
                    line-height: 1;
                    width: 45px;
                    text-align: center;
                }
                .btn-addon{
                    line-height: normal;
                    cursor: pointer;
                }
            }  
        }
    }
}

// Din Literbox fix on moblie stiky
.composite_form.small_width.paged:not(.componentized) {
    overflow: inherit !important;
}

.ekstra-produkter input[type='number'] {
    -moz-appearance:textfield;
}

.ekstra-produkter input::-webkit-outer-spin-button,
.ekstra-produkter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.composite_wrap .composite_add_to_cart_button{
    display: none !important;
    &.activetilbehor {
        display: inline-block !important;
    }  
}

body.wclimloc_amager .ast-article-single form.cart .Wcmlim_container.wcmlim_product,
body.wclimloc_soborg .ast-article-single form.cart .Wcmlim_container.wcmlim_product,
body.wclimloc_amager .composite_wrap .wcmlim-lc-switch,
body.wclimloc_soborg .composite_wrap .wcmlim-lc-switch{
  display: none;
}

body.wclimloc_amager-isdisk .composite_button .wcmlim-lc-switch,
body.wclimloc_soborg-isdisk .composite_button .wcmlim-lc-switch {
	display: none;
}

// 28L isdisk amager 194241
// 20L isdisk amager 1139
// 28L isdisk søborg 192372
// 20L isdisk søborg 192373
body.wclimloc_none.postid-194241,
body.wclimloc_none.postid-1139,
body.wclimloc_none.postid-192372,
body.wclimloc_none.postid-192373 {
    .composite_button .composite_add_to_cart_button {
        display: none !important;
    }
    .wcmlim_sel_location {
        option.wclimloc_amager,
        option.wclimloc_soborg {
            display: none !important;
        }
    }
}


@include sm {
    .wc-pao-addons-container .composited_product_images.images {
        display: none;
    }
}


i.fa.fa-lg.fa-question-circle.infobutton__help-btn___3wj_z {
    font-size: 27px;
    cursor: pointer;
    color: #21A07A;
}

i.fa.fa-lg.fa-question-circle.infobutton__help-btn___3wj_z {
    animation: infobutton__help-btn-spin___14l_0 5s 0s 10000;
    animation-timing-function: linear;
}

@keyframes infobutton__help-btn-spin___14l_0 {
	0% {
		transform: rotateY(0deg)
	}
	25% {
		transform: rotateY(90deg);
		opacity: .5
	}
	50% {
		transform: rotateY(180deg);
		opacity: 1
	}
	75% {
		transform: rotateY(270deg);
		opacity: .5
	}
	to {
		transform: rotateY(1turn);
		opacity: 1
	}
}


.activetilbehor {
    animation: fadeInTilbehor 2.75s;
    -webkit-animation: fadeInTilbehor 2.75s;
    -moz-animation: fadeInTilbehor 2.75s;
    -o-animation: fadeInTilbehor 2.75s;
    -ms-animation: fadeInTilbehor 2.75s;
  }
  @keyframes fadeInTilbehor {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeInTilbehor {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeInTilbehor {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeInTilbehor {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeInTilbehor {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }