@import "_colors";
@import "_mixins";
@import "_fonts";
@import "_custom-class";


.uagb-columns__gap-5 .uagb-columns__inner-wrap .block-editor-block-list__layout {
	gap: 5px; 
}

.uagb-columns__gap-10 .uagb-columns__inner-wrap .block-editor-block-list__layout {
	gap: 10px; 
}

.uagb-columns__gap-15 .uagb-columns__inner-wrap .block-editor-block-list__layout {
	gap: 15px; 
}

.uagb-columns__gap-20 .uagb-columns__inner-wrap .block-editor-block-list__layout {
	gap: 20px; 
}

.uagb-columns__gap-30 .uagb-columns__inner-wrap .block-editor-block-list__layout {
	gap: 30px; 
}


.ast-separate-container .block-editor-block-list__layout .wp-block[data-align="full"] figure.wp-block-image {
	margin-left: 0.0em !important;
	margin-right: 0.0em !important;
}

.ast-separate-container .edit-post-visual-editor .block-editor-block-list__layout .wp-block[data-align="full"] figure.wp-block-image,
.ast-separate-container .edit-post-visual-editor .wp-block[data-align="full"] .wp-block-cover {
	margin-left: 0.0em !important;
	margin-right: 0.0em !important;
}