/* Color Options
--------------------------------------------- */
/* line 41, assets/scss/_colors.scss */
.has-blue-color {
  color: #59BACC !important;
}

/* line 45, assets/scss/_colors.scss */
.has-blue-background-color {
  background-color: #59BACC !important;
}

/* line 41, assets/scss/_colors.scss */
.has-green-color {
  color: #21A07A !important;
}

/* line 45, assets/scss/_colors.scss */
.has-green-background-color {
  background-color: #21A07A !important;
}

/* line 41, assets/scss/_colors.scss */
.has-lightgreen-color {
  color: #e2f7f1 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-lightgreen-background-color {
  background-color: #e2f7f1 !important;
}

/* line 41, assets/scss/_colors.scss */
.has-brown-color {
  color: #58320e !important;
}

/* line 45, assets/scss/_colors.scss */
.has-brown-background-color {
  background-color: #58320e !important;
}

/* line 41, assets/scss/_colors.scss */
.has-yellow-color {
  color: #FFBA00 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-yellow-background-color {
  background-color: #FFBA00 !important;
}

/* line 41, assets/scss/_colors.scss */
.has-red-color {
  color: #C80033 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-red-background-color {
  background-color: #C80033 !important;
}

/* line 41, assets/scss/_colors.scss */
.has-beige-color {
  color: #fdf5dc !important;
}

/* line 45, assets/scss/_colors.scss */
.has-beige-background-color {
  background-color: #fdf5dc !important;
}

/* line 41, assets/scss/_colors.scss */
.has-black-color {
  color: #000000 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-black-background-color {
  background-color: #000000 !important;
}

/* line 50, assets/scss/_colors.scss */
body {
  color: #58320e;
  background: #fff;
  font-style: normal;
}

/* line 56, assets/scss/_colors.scss */
.entry-content h2, h2 {
  color: #21A07A;
}

/* line 59, assets/scss/_colors.scss */
.entry-content h3, h3 {
  color: #58320e;
}

/* line 62, assets/scss/_colors.scss */
.entry-content h4, h4 {
  color: #58320e;
}
