/* Color Options
--------------------------------------------- */
/* line 41, assets/scss/_colors.scss */
.has-blue-color {
  color: #59BACC !important;
}

/* line 45, assets/scss/_colors.scss */
.has-blue-background-color {
  background-color: #59BACC !important;
}

/* line 41, assets/scss/_colors.scss */
.has-green-color {
  color: #21A07A !important;
}

/* line 45, assets/scss/_colors.scss */
.has-green-background-color {
  background-color: #21A07A !important;
}

/* line 41, assets/scss/_colors.scss */
.has-lightgreen-color {
  color: #e2f7f1 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-lightgreen-background-color {
  background-color: #e2f7f1 !important;
}

/* line 41, assets/scss/_colors.scss */
.has-brown-color {
  color: #58320e !important;
}

/* line 45, assets/scss/_colors.scss */
.has-brown-background-color {
  background-color: #58320e !important;
}

/* line 41, assets/scss/_colors.scss */
.has-yellow-color {
  color: #FFBA00 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-yellow-background-color {
  background-color: #FFBA00 !important;
}

/* line 41, assets/scss/_colors.scss */
.has-red-color {
  color: #C80033 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-red-background-color {
  background-color: #C80033 !important;
}

/* line 41, assets/scss/_colors.scss */
.has-beige-color {
  color: #fdf5dc !important;
}

/* line 45, assets/scss/_colors.scss */
.has-beige-background-color {
  background-color: #fdf5dc !important;
}

/* line 41, assets/scss/_colors.scss */
.has-black-color {
  color: #000000 !important;
}

/* line 45, assets/scss/_colors.scss */
.has-black-background-color {
  background-color: #000000 !important;
}

/* line 50, assets/scss/_colors.scss */
body {
  color: #58320e;
  background: #fff;
  font-style: normal;
}

/* line 56, assets/scss/_colors.scss */
.entry-content h2, h2 {
  color: #21A07A;
}

/* line 59, assets/scss/_colors.scss */
.entry-content h3, h3 {
  color: #58320e;
}

/* line 62, assets/scss/_colors.scss */
.entry-content h4, h4 {
  color: #58320e;
}

/* line 7, assets/scss/_fonts.scss */
body {
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  font-size: 18px;
  line-height: 1.5;
}

/* line 15, assets/scss/_fonts.scss */
.ast-single-post .entry-title, .page-title {
  font-weight: 500;
  font-family: 'Sonsie One',display;
  line-height: 1.3;
  text-transform: inherit;
  color: #21A07A;
}

/* line 23, assets/scss/_fonts.scss */
h1,
.entry-content h1 {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* line 30, assets/scss/_fonts.scss */
h2,
.entry-content h2,
.editor-styles-wrapper h2 {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* line 38, assets/scss/_fonts.scss */
h3,
.entry-content h3,
.editor-styles-wrapper h3 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (max-width: 544px) {
  /* line 38, assets/scss/_fonts.scss */
  h3,
  .entry-content h3,
  .editor-styles-wrapper h3 {
    font-size: 22px;
    line-height: 1.45;
    margin-bottom: 20px;
  }
}

@media (max-width: 976px) {
  /* line 51, assets/scss/_fonts.scss */
  .bestil-is-section h3.is-style-box-heading {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
@media (max-width: 544px) {
  /* line 51, assets/scss/_fonts.scss */
  .bestil-is-section h3.is-style-box-heading {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

/* line 65, assets/scss/_fonts.scss */
h4,
.entry-content h4,
.editor-styles-wrapper h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* line 73, assets/scss/_fonts.scss */
a {
  color: #C80033;
}

/* line 77, assets/scss/_fonts.scss */
h1.is-style-default,
h2.is-style-default,
h3.is-style-default,
h4.is-style-default,
h5.is-style-default,
h6.is-style-default {
  font-family: 'Lora',serif;
}

/* line 86, assets/scss/_fonts.scss */
h1.is-style-box-heading,
h2.is-style-box-heading,
h3.is-style-box-heading,
h4.is-style-box-heading,
h5.is-style-box-heading,
h6.is-style-box-heading {
  font-family: 'Sonsie One',display;
}

/* line 95, assets/scss/_fonts.scss */
h1.is-style-btn-forside,
h2.is-style-btn-forside,
h3.is-style-btn-forside,
h4.is-style-btn-forside,
h5.is-style-btn-forside,
h6.is-style-btn-forside {
  font-family: 'Sonsie One',display;
}

/* line 104, assets/scss/_fonts.scss */
ol, ul {
  margin: 0 0 1.5em 1.5em;
}

/* line 108, assets/scss/_fonts.scss */
.is-style-btn-forside {
  padding: 7px 19px !important;
  font-size: 17px !important;
  position: relative;
  top: -44px;
  max-width: 220px;
  border-radius: 10px;
  box-shadow: 5px 5px;
}

/* line 118, assets/scss/_fonts.scss */
a:hover {
  text-decoration: none !important;
}

/* line 122, assets/scss/_fonts.scss */
table, td, th {
  border: 0px;
}

/* line 126, assets/scss/_fonts.scss */
.wp-block-table.is-style-open-hours td,
.wp-block-table.is-style-open-hours th {
  border-color: transparent;
  border-top: 1px solid #58320e;
}

/* line 132, assets/scss/_fonts.scss */
.is-style-open-hours table tr td:nth-child(2) {
  text-align: right;
}
