.ice-of-the-week {
    font-family: Sonsie One;
    position: relative;
    padding: 10px;
    transition: transform .15s ease-out;
}
.ice-of-the-week:hover {
    transform: scale(1.05);
}

.ice-of-the-week.alignright,
.ice-of-the-week.alignleft {
	display: inherit !important;
	float: inherit !important;
	margin-left: inherit !important;
	margin-right: inherit !important;
}

.ice-of-the-week .ice-header {
    position: absolute;
    top: 27%;
    left: 41%;
}

.ice-of-the-week .ice-header h2 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: #fef4ce;
    text-shadow: 3px 3px 0 #499473;
}

.ice-of-the-week .ice-name {
    left: 23%;
    color: #58320e;
    font-size: 14px;
    position: absolute;
    top: 55%;
    text-shadow: 3px 3px 0 #ffc875;
    margin-bottom: 0px;
}

.ice-of-the-week img.img-responsive {
    width: 100%;
}

@media (max-width: 976px) {
    .ice-of-the-week {
        max-width: 460px;
        padding: 0px;
        margin: 0 auto;
    }
    .ice-of-the-week .ice-header {
        top: 26%;
        left: 39%;
    }
    .ice-of-the-week .ice-header h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .ice-of-the-week .ice-name {
        font-size: 14px;
        top: 55%;
        left: 20%;
        max-width: 230px;
    }
}
@media (max-width: 820px) {
    .ice-of-the-week .ice-header {
        left: 40%;
    }
    .ice-of-the-week .ice-name {
        top: 55%;
        left: 20%;
        max-width: 210px;
    }
}
@media (max-width: 767px) {
    .ice-of-the-week {
        max-width: 440px;
        margin: 0 auto;
    }

	.ice-of-the-week img {
		transition: transform .15s ease-out;
	}

    .ice-of-the-week .ice-header {
        top: 28%;
        left: 40%;
    }
    .ice-of-the-week .ice-header h2 {
        font-size: 17px;
        margin: 0;
        padding: 0;
    }
    .ice-of-the-week .ice-name {
        font-size: 17px;
        top: 57%;
        left: 25%;
        margin-bottom: 0px;
        max-width: 280px;
    }
}


@media (max-width: 544px) {
    .ice-of-the-week .ice-header {
        top: 28%;
        left: 40%;
    }
    .ice-of-the-week .ice-header h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .ice-of-the-week .ice-name {
        font-size: 17px;
        top: 57%;
        left: 24%;
        margin-bottom: 0px;
        max-width: 280px;
    }
}
@media (max-width: 490px) {
    .ice-of-the-week .ice-name {
        font-size: 16px;
        top: 57%;
        left: 22%;
        margin-bottom: 0px;
        max-width: 260px;
    }
}



.acf-block-preview .ice-header h2 {
    font-size: 10px !important;
}

.acf-block-preview .ugens-is-block a {
    pointer-events: none;
}