.forside-boks-block {
    font-family: Sonsie One;
    position: relative;
}

.forside-boks-block.box_small {
    height: 240px;
    margin: 10px 0px 10px;
}
.forside-boks-block.box_large {
    height: 320px;
    margin: 15px 0px 15px;
}

.forside-boks-block:hover a .image-wrapper img {
    transform: translateY(-50%) scale(1.1);
}

.forside-boks-block.alignright,
.forside-boks-block.alignleft {
	display: inherit !important;
	float: inherit !important;
	margin-left: inherit !important;
	margin-right: inherit !important;
}

.forside-boks-block .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0,0,0,0.15);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.forside-boks-block .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.forside-boks-block .image-wrapper img {
    position: absolute;transition: transform .15s ease-out;
    top: 50%;
    width: 100%;
    transform: translateY(-50%) scale(1.05);
    transition: transform .15s ease-out;
}

.forside-boks-block.box_small h2 {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 17px;
}

.forside-boks-block.box_large h2 {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 28px;
}

.forside-boks-block h2.ts-light-yellow {
    color: #21A07A;
    text-shadow: 3px 3px 0 #fff6d1
}
.forside-boks-block h2.ts-light-reod{
    color: #b02437;
    text-shadow: 3px 3px 0 #33cddd;
}
.forside-boks-block h2.ts-light-brun{
    color: #58320e;
    text-shadow: 3px 3px 0 #d7eab8;
}

.forside-boks-block .border {
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 10px;
    left: 0;
    transition: top .15s ease-out,right .15s ease-out,bottom .15s ease-out,left .15s ease-out;
    border: 2px solid #58320e;
    border-radius: 20px;
}

.forside-boks-block:hover .border {
    top: 4px;
    right: 5px;
    bottom: 4px;
    left: 2px;
}

.forside-boks-block .action-btn.align-bottom {
    position: absolute;
    bottom: -15px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    transition: all .15s ease-out;
}

.forside-boks-block .action-btn.shift-left {
    padding-right: 2%;
}

.forside-boks-block .action-btn span {
    font-family: Sonsie One;
    font-size: 14px;
    line-height: 46px;
    display: inline-block;
    padding: 0 7px;
    height: 46px;
    vertical-align: top;
    color: #fff;
    background-image: url(img/button-sprite-green.png);
    background-position: -40px 0;
    background-size: 644px 46px;
}

.forside-boks-block .action-btn.pink:before,
.forside-boks-block .action-btn.pink:after,
.forside-boks-block .action-btn.pink span {
    background-image: url(img/button-sprite-pink.png);
}
.forside-boks-block .action-btn.blue:after,
.forside-boks-block .action-btn.blue:before,
.forside-boks-block .action-btn.blue span {
    background-image: url(img/button-sprite-dusty-blue.png);
}
.forside-boks-block .action-btn.brown:after,
.forside-boks-block .action-btn.brown:before,
.forside-boks-block .action-btn.brown span {
    background-image: url(img/button-sprite-brown.png);
}
.forside-boks-block .action-btn.bright_blue:after,
.forside-boks-block .action-btn.bright_blue:before,
.forside-boks-block .action-btn.bright_blue span {
    background-image: url(img/button-sprite-bright-blue.png);
}
.forside-boks-block .action-btn.red:after,
.forside-boks-block .action-btn.red:before,
.forside-boks-block .action-btn.red span {
    background-image: url(img/button-sprite-red.png);
}

.forside-boks-block .action-btn:after, .forside-boks-block .action-btn:before {
    display: inline-block;
    width: 20px;
    height: 46px;
    content: "";
    background-image: url(img/button-sprite-green.png);
    background-size: 344px 46px;
}

.forside-boks-block .action-btn:before {
    background-position: 0 0;
    margin-right: -8px;
}
.forside-boks-block .action-btn:after {
    background-position: 100% 0;
    margin-left: -8px;
}


@media (max-width: 976px) {
    .forside-boks-block.box_small {
        height: 230px;
        margin: 0 5px;
    }
    .forside-boks-block.box_large {
        height: 290px;
        margin: 0 5px;
    }

    .forside-boks-block h2 {
        top: 25px;
        font-size: 25px;
        text-shadow: 3px 3px 0 #fff6d1
    }
	.forside-boks-block .action-btn span {
		font-size: 12px;
		min-width: 120px;
	}
}
@media (max-width: 900px) {
    .forside-boks-block.box_small {
        height: 200px;
        margin: 0 5px;
    }
    .forside-boks-block.box_large {
        height: 270px;
        margin: 0 5px;
    }
}
@media (max-width: 800px) {
    .forside-boks-block.box_small {
        height: 210px;
        margin: 0 5px;
        transition: padding .15s ease-out;
    }
    .forside-boks-block.box_large {
        height: 250px;
        margin: 0 5px;
        transition: padding .15s ease-out;
    }
}

@media (max-width: 767px) {
    .forside-boks-block.box_small {
        height: 250px;
        transition: padding .15s ease-out;
        max-width: 420px;
        margin: auto;
    }
    .forside-boks-block.box_large {
        height: 290px;
        margin: 20px 0px;
        transition: padding .15s ease-out;
        max-width: 420px;
        margin: auto;
    }
    .forside-boks-block .image-wrapper img {
        transition: transform .15s ease-out;
    }
    .forside-boks-block h2 {
        transition: top .15s ease-out;
    }
}

.acf-block-preview .forside-boks-block a {
    pointer-events: none;
}
.acf-block-preview .forside-boks-block.box_small h2 {
    font-size: 15px;
}
.acf-block-preview .forside-boks-block.box_large h2 {
    font-size: 24px;
}