.gallery-insta.instagram {
    font-family: Sonsie One;
    position: relative;
    height: 320px;
    margin: 15px 0px 15px;
}

.gallery-insta .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 0px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(0 0 0 / 15%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.gallery-insta .image-wrapper img.img-responsive {
    width: 100%;
}

.gallery-insta .instagram-banner {
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 0;
    padding: 10px;
    color: #fff;
    background-color: #4294c1;
}
.gallery-insta .instagram-banner .instagram-icon {
    font-size: 22px;
    vertical-align: middle;
}
.gallery-insta .instagram-banner .instagram-hashtag {
    font-size: 14px;
}


@media (max-width: 976px) {
    .gallery-insta.instagram {
        height: 290px;
        margin: 0 5px;
    }
}

@media (max-width: 900px) {
    .gallery-insta.instagram {
        height: 270px;
    }
}
@media (max-width: 800px) {
    .gallery-insta.instagram {
        height: 250px;
    }
}

@media (max-width: 767px) {
    .gallery-insta.instagram {
        height: 335px;
        margin: 20px 0;
        transition: padding .15s ease-out;
        max-width: 420px;
        margin: auto;
    }
}

@media (max-width: 544px) {
    .gallery-insta.instagram {
        height: 300px;
        max-width: 420px;
    }
}

@media (max-width: 454px) {
    .gallery-insta.instagram {
        height: 260px;
    }
}


.acf-block-preview .insta-block a {
    pointer-events: none;
}
